.notice {position: relative; top: 70px; height: 50px; text-align: center; width: 70%; display: block;  margin: 0 auto; background: coral; }
.nav {position: absolute; top: 120px; height: 1200px; width: 12%; left: 15%; background: cornflowerblue; display: block; }
.nav td {padding:3px 25px; background: skyblue;}
.content {background: olive; position: absolute; width: 55%; right: 15%; top:120px; height: 1200px; display: block;}
.footer {margin-top: 1300px;;}