@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body {font-family: 'NanumSquare';}
html{overflow-x: hidden}
#bg {
width:99vw;
height: 340px;
background: url(../sub-page/sub_bg3.png)no-repeat;
background-position:top;
background-size: cover;
margin: 0;
padding: 0;
}  
.side_nav{
position: relative;
top: 50px;
left: 5vw;
width: 200px;

}
.side_nav h3{
    font-size: 20px;
    border-bottom: 3px solid ;
    width: 200px
}

.side_nav ul li {
    padding: 8px 15px;
}
.side_nav ul li i {
    position: absolute;
    left: 175px;
    top: 153px;
}
.side_nav > ul > .on {            
    background-color: #d9e6ff;
} 
.content {
    position: relative;
    top: -145px;
    width: 80vw;
    max-width: 1000px;
    _height: 1450px;           
    margin: 0 auto;
}        
.content h3{
    font-size: 25px;
    padding-bottom: 30px;
}
.cotent ul.tab {
    width: 100%; 
}
.content ul.tab li {
    float: left; 
    width: 70px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer
}
.content ul.tab li.hall_on{
    border-bottom: 1.5px solid #6098FF
}
.content div{
    display: none;
}
.content div.c_show{
    display: block;
    clear: both;
    width: 100%;
}
.content div.c_show .map{
    display: block;
    width: 90%;
    margin:0 auto;
}
.content div.c_show ul.sub_t {
    width: 100%;   
    margin-top: 50px
}
.content div.c_show ul.sub_t li {
    float: left;
    width: 80px;
    border: 1px solid ;
    text-align: center;
    padding: 5px;
    margin: 15px;
    cursor: pointer
}
.content div.c_show ul.sub_t li.tg{
    color: #6098FF
}
.content div.c_show table {
    display: none;
}
.content div.c_show table.table_tg{
    display: block;
    clear: both;
}
.content div.c_show table.table_tg tr td:first-child {
    width: 200px;    
}
.content div.c_show table.table_tg tr td:nth-child(2){    
    width: 78%;
    text-indent: 10px
}
.content div.c_show table.table_tg tr td img {
    width: 150px;
    margin-left: 14%;
}
.content div.c_show table.table_tg tr td {
    height: 140px;
    border: 1px solid #d6d6d4;
    border-left: 0px;
    border-right: 0px;
}
table.table_tg tr td ul {
    margin-top: -4px
}
table.table_tg tr td ul li {
    font-size: 14px;
    line-height: 2;
}
@media all and (min-width:1401px){
    .content {  margin-left: 23vw;}  
}
@media all and (min-width:1105px) and (max-width:1400px){
    .content { margin-left: 25vw; width: 70vw}
}
@media screen and (min-width:960px) and (max-width:1104px){
    .content {margin-left: 27vw; width: 70vw;}
    .content div.c_show table.table_tg tr td img {margin-left: 10px}
    .content div.c_show table.table_tg tr td:nth-child(2) {width: 75%;}
}
@media screen and (min-width:780px) and (max-width:959px){
    .side_nav {left: 41vw; top: 50px}
    .side_nav h3 {font-size: 23px; padding-bottom: 10px; border: none}
    .side_nav h3:after {content: "";display: block; border-bottom: 2px solid ;
         margin-left: -50px; width: 200px;padding-top: 5px;
    }
    .side_nav ul {width: 550px;margin-left: -195px}
    .side_nav ul li {width: 20%; float: left; text-align: center;margin-left: 10px; border: 1px solid #d9e6ff; border-radius: 5px}
    .side_nav i {display: none}
    .side_nav .on{font-weight: bold;}
    .side_nav > ul > .on:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 15px solid #d9e6ff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    left: 213px;
    top: 85px
    }
    .side_nav > ul > li > a {
        display: block;
        -webkit-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .side_nav > ul > li:hover > a {
     -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
         -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
             transform: scale(1.1);  
    }
    .content {top: 130px;width: 75vw;}
    .content h3 {display: block; text-align: center; font-size: 22px; width: 100%; text-indent: -200px}
    .content div.c_show table.table_tg tr td img {margin-left: 10px}
    .content div.c_show table.table_tg tr td:nth-child(2) {width: 75%;}
    #footer{top: 150px;}    
}
@media screen and (min-width:610px) and (max-width:779px){
            .side_nav {left: 41vw; top: 50px}
            .side_nav h3 {font-size: 23px; padding-bottom: 10px; border: none}
            .side_nav h3:after {content: "";display: block; border-bottom: 2px solid ;
                 margin-left: -50px; width: 200px;padding-top: 5px;
            }
            .side_nav ul {width: 550px;margin-left: -195px}
            .side_nav ul li {width: 20%; float: left; text-align: center;margin-left: 10px; border: 1px solid #d9e6ff; border-radius: 5px}
            .side_nav i {display: none}
            .side_nav .on{font-weight: bold;}
            .side_nav > ul > .on:after {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-top: 15px solid #d9e6ff;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            position: absolute;
            left: 215px;
            top: 85px
            }
            .side_nav > ul > li > a {
                display: block;
                -webkit-transition: all 0.1s linear;
                transition: all 0.1s linear;
            }
            .side_nav > ul > li:hover > a {
             -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                 -ms-transform: scale(1.1);
                  -o-transform: scale(1.1);
                     transform: scale(1.1);  
            }
    .content {top: 130px; width: 75vw;}
    .content h3 {display: block; text-align: center; font-size: 22px; width: 100%; text-indent: -210px}
    .content div.c_show table.table_tg tr td:first-child{width: 25%;}
    .content div.c_show table.table_tg tr td img {margin-left: 0px;width: 200px;height: 120px;}
    .content div.c_show table.table_tg tr td:nth-child(2) {width: 75%;}
    #footer {top: 150px;}
}
@media screen and (min-width:500px) and (max-width:609px){
            .side_nav {left: 38vw; top: 50px}
            .side_nav h3 {font-size: 23px; padding-bottom: 10px; border: none}
            .side_nav h3:after {content: "";display: block; border-bottom: 2px solid ;
                 margin-left: -50px; width: 200px;padding-top: 5px;
            }
            .side_nav ul {width: 550px;margin-left: -195px}
            .side_nav ul li {width: 20%; float: left; text-align: center;margin-left: 10px; border: 1px solid #d9e6ff; border-radius: 5px}
            .side_nav i {display: none}
            .side_nav .on{font-weight: bold;}
            .side_nav > ul > .on:after {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-top: 15px solid #d9e6ff;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            position: absolute;
            left: 215px;
            top: 85px
            }
            .side_nav > ul > li > a {
                display: block;
                -webkit-transition: all 0.1s linear;
                transition: all 0.1s linear;
            }
            .side_nav > ul > li:hover > a {
             -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                 -ms-transform: scale(1.1);
                  -o-transform: scale(1.1);
                     transform: scale(1.1);  
            }
    .content {top: 130px; width: 75vw;}
    .content h3 {display: block; text-align: center; font-size: 22px; width: 100%; text-indent: -228px}
    .content div.c_show .map{width: 100%;}
    .content div.c_show ul.sub_t {margin-top: 20px; }
    .content div.c_show ul.sub_t li {width: 25%;}
    .content div.c_show table.table_tg tr td:first-child{width: 25%;}
    .content div.c_show table.table_tg tr td img {margin-left: 0px;width: 200px;height: 120px;}
    .content div.c_show table.table_tg tr td:nth-child(2) {width: 75%;}
    #footer {top: 150px;}
}
@media screen and (max-width:499px){
            .side_nav {left: 140px; top: 50px}
            .side_nav h3 {font-size: 23px; padding-bottom: 10px; border: none}
            .side_nav h3:after {content: "";display: block; border-bottom: 2px solid ;
                 margin-left: -50px; width: 200px;padding-top: 5px;
            }
            .side_nav ul {width: 370px;margin-left: -136px;}
            .side_nav ul li {width: 23%; float: left; text-align: center;margin-left: 5px; border: 1px solid #d9e6ff; border-radius: 5px;font-size: 14px;padding: 10px 10px}         
            .side_nav i {display: none}
            .side_nav .on{font-weight: bold;}
            .side_nav > ul > .on:after {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-top: 15px solid #d9e6ff;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            position: absolute;
            left: 167px;
            top: 85px
            }
            .side_nav > ul > li > a {
                display: block;
                -webkit-transition: all 0.1s linear;
                transition: all 0.1s linear;
            }
            .side_nav > ul > li:hover > a {
             -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                 -ms-transform: scale(1.1);
                  -o-transform: scale(1.1);
                     transform: scale(1.1);  
            }
    .content {top: 130px;width: 90vw;}
    .content h3 {display: block; text-align: center; font-size: 22px; width: 100%; text-indent: -210px}
    .content div.c_show .map{width: 100%;}
    .content div.c_show ul.sub_t {margin-top: 20px; }
    .content div.c_show ul.sub_t li {width: 24%;}
    .content div.c_show table.table_tg tr td:first-child{width: 35%;}
    .content div.c_show table.table_tg tr td img {margin-left: 0px;width: 200px;}
    .content div.c_show table.table_tg tr td:nth-child(2) {width: 60%;}
    #footer {top: 150px;}
  }